<ul class='admin_dashboard_links'>
  <li><%= link_to 'Upload new images/albums to the gallery', gallery_uploads_path %></li>
  <li><%= link_to 'Edit the \'about\' page', about_index_path %></li>
  <li><%= link_to 'Add a testimonial', testimonials_path %></li>
</ul>
