<h1>Gallery</h1><br />

<div class="row">
  <% @albums.each do |album| %>
    <div class="span2">
      <div class="img-polaroid">
        <%= link_to image_tag("http://www.profoundinstallations.com#{album.cover_image.gsub('public','')}", :alt => album.title), "/gallery/"+album.slug %>
        <p><%= album.title %></p>
      </div>
    </div>
  <% end %>
</div> 