<h1>Gallery</h1><br />

<div class="row">
  <% @albums.reverse.each do |album| %>
    <div class="span2">
      <div class="img-polaroid">
        <%= link_to image_tag("workexamples/"+album+"/"+album+"_1.jpg", :alt => album, :class =>"gallery_image", :size => "170x128"), "/gallery/"+album %>
        <%= album.tr('_',' ').tr('0',',').capitalize %><br />
      </div>
    </div>
  <% end %>
</div> 


