

 

  <div class="row">
    <div class="span6">
         <h2>Welcome,</h2>
          <p class="intro">
            Sloany, you need to give me something to put here, for the time being here is what Truemans have on their home page: Truemans are a dedicated uPVC window, door, glass and conservatory trade supplier with fresh ideas. We have trade counters situated in the north of England, and we supply hundreds of window installers, joiners, builders and DIY customers daily. Back-up from some of the countries leading super-fabricators and bulk buying power means the combination of our product, service, marketing support & competitive prices helps our trade customers to grow, install successful and make more profit every day. 
          </p>

    </div>
    <div class="span6">
      <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner" >
        <div class="active item">
          <%= image_tag("workexamples/fascia_replacement/fascia_replacement_14.jpg", :alt => "guttering") %>
          <div class="carousel-caption">
            <h2 style="color:#555;">Sloany!</h2>
            <p>Give me something to write on here! (it moves to the right like on that Truemans website you showed me)</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("workexamples/EPDM_flat_roof/EPDM_flat_roof_4.jpg", :alt => "EPDM_flat_roof") %>
          <div class="carousel-caption">
            <h2 style="color:#555;">Hello</h2>
            <p>Testing 123</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("workexamples/edwardian_conservatory/edwardian_conservatory_1.jpg", :alt => "edwardian_conservatory") %>
          <div class="carousel-caption">
            <h2 style="color:#555;">Hello</h2>
            <p>Testing 123</p>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>



<script type="text/javascript">

</script>


