<div class="hero-unit">
  <h2>Welcome,</h2>
  <p>
    Covering the whole of Rochdale and its surrounding areas, our mission is to see that our customers are happy from start to finish and are satisfied with every job. Taking pride in our work is more than just words with Profound Installations.
  </p>

  <p>
    We have contacts in every trade so don't hesitate to ask for recommendations.
  </p>

  <p>
    <a class="btn btn-primary btn-large" href=<%= about_path %>>Learn more</a>
  </p>
</div>


