<div class="span4" id="contactinfo">
  <a href="#locationModal" data-toggle="modal" class="edit_text">
    <div><h3><%= "#{@cmslayout.location}" %></h3></div>
  </a>
  <a href="#telephoneModal" data-toggle="modal" class="edit_text">
    <h3>Tel: <span style="color:black;"> <%= "#{@cmslayout.telephone}" %> </span></h3>
  </a>
</div>