<a href="#taglineModal" data-toggle="modal" class="edit_text">
  <div class="row">
    <div class="span4">
      <a href="/">
        <img width="322" height="110" src="/assets/logo.png" alt="Profound Installations">
      </a>
    </div>


    <div class="span4" id="tagline">
      <h3><em>Energy efficient PVC and EPDM installation at its best</em></h3>          
    </div>

    <div class="span4" id="contactinfo">
      <div><h3>Rochdale/Littleborough</h3></div>
      <h3>Tel: <span style="color:black;"> 07827 920721 </span></h3>
    </div>

  </div>
</a>