<!-- Modal -->
<div id="locationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit location</h3>
  </div>
  
  <%= form_tag(cms_path(:page => 'layout', :attribute => 'location'), :method=>'post') do %>
    <div class="modal-body">
      <%= text_field_tag "edited_text", nil, :class => 'text_area', :value => "#{@cmslayout.location}" %>
    </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <%= submit_tag "Save changes", :class=>"btn btn-primary" %>
    </div>
  <% end %>
</div>